body {
    font-family: Roboto, Ubuntu, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0 300px;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.header, .hero, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}



ul {
    display: flex;
    gap: 8px;
    list-style-type: none;
}

.hero {
    display: flex;
    flex-grow: 1;
    padding: 80px 300px;
    /* border: 2px solid pink; */
}

.hero-left, .hero-right {
   /* border: 2px solid pink; */
    flex: 1; 
}

h1 {
    font-size: 48px;
    margin-bottom: 0;
}

.hero p {
    font-size: 18px;
    font-weight: 300;
}

.hero button {
  border: 1px solid #3882F6;
 
}

.hero-right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
}

.info {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.plants {
    display: flex;
    gap: 24px;
}

.text {
    font-size: 18px;
    text-align: center;
}

.quotebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7Eb;
    padding: 32px 260px;
}

.quotebox .quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    
}

.quotebox .attribution {

    font-size: 18px;
    font-weight: 700;
    margin-left: auto;
    padding-right: 260px;
}

.plants img {
    border: 4px solid #3882f6;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
}

.blue, .glass, .gold, .sweet {
    width: 200px;
    flex-wrap: wrap;
   
}

.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin: 32px 0;
}

/*the borders go around the images, not the 
entire plant info thing 

// my most frustrating issue was not realizing
that i needed to set a height for the body...
turns out that i had to copy the 100%vh from 
another exercise... did the .css/flex/ exercises
all have the height set for me???

*/

.callbox {
    display: flex;
    background: #3882F6;
    margin: 100px 300px;
    justify-content: space-evenly;
    color: white;
    border-radius: 8px;
    align-items: center;
}

.call {
    padding: 32px 0;
}

.callbox button {
   border: 1px solid #FFFFFF;
}

button {
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    background: #3882F6;
    padding: 8px 24px;
}

h3 {
    margin-bottom: 0;
    font-size: 24px;
}

.call p {
    margin-top: 0;
    font-size: 18px;
}